{
    "initial_channel_links": [
      "https://t.me/",
      "https://t.me/",
      "https://t.me/"
    ],
    "message_keywords": ["hack", "carding", "malware", "exploit", "cracking"],
    "batch_size": 100,
    "account": {
      "api_id": 0,
      "api_hash": "",
      "phone_number": ""
    }
}
